div {
    margin: 2rem;
    border: solid black 5px;
    border-radius: 30px;
    padding: 1rem;
    background-color: purple;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;

}

h2 {
    color: White;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.streamwindow {
    margin-left: auto;
    margin-right: auto;
}
header {
    margin: 2rem;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr 2fr;
    background-image: linear-gradient(red, rgb(23, 103, 231));
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    grid-column: 2/5;
    align-items: center;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#heroimg {
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.socialmedialogo {
    max-height: 60px;
    
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(red, lightblue);
}

h3 {
    font-size: 2rem;
    display: inline;
}

/* Media Query */
@media only screen and (max-width: 1600px) {
    body {
      background-color: black;
    }
    
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr;
    }


  }

  @media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
    /*.gridcontainer {
        max-width: 400;
    }*/
    nav {
        flex-direction: column;
    }
    nav a {
        display: block;
    }
    .logo_link {
        display:none;
    }
  }